<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="shortcut icon" th:href="@{assets/img/logo.png}">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/custom.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!--    <link rel="stylesheet" th:href="@{css/loading.css}">-->
    <script th:src="@{js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.js}"></script>
<!--    <script th:src="@{js/loading.js}"></script>-->
    <script th:src="@{js/jquery.session.js}"></script>
    <script th:src="@{js/noticeAccount.js}"></script>
    <script th:src="@{js/notification.js}"></script>
    <script th:src="@{js/account.js}"></script>
<!--    <script src="../static/js/jquery-3.4.1.min.js"></script>-->
<!--    <script src="../static/js/bootstrap.js"></script>-->
<!--    <script src="../static/js/account.js"></script>-->
<!--    <link rel="stylesheet" href="../static/css/bootstrap.css">-->
<!--    <link rel="stylesheet" href="../static/css/custom.css">-->

    <script th:inline="javascript">
        /*<![CDATA[*/

        var upn = /*[[${upn}]]*/ null;
        var username = /*[[${username}]]*/ null;
        /*]]>*/
    </script>
</head>
<body>
<div th:replace="navbar.html :: navbar"></div>

<div style="padding-left: 10%;padding-bottom: 70px;width:80%;margin-left: 5%;padding-top: 120px;">
    <h3 style="margin-bottom: 30px;">Link account</h3>
    <a href="#" onclick="edit()">[edit]</a>
    <hr style="margin-top: 3px;">
    <div id="account_div"></div>
<!--    <div class="form-group row">-->
<!--        <label class="col-sm-3 col-form-label">Yammer</label>-->
<!--        <div class="col-sm-6" style="display: inline-block;">-->
<!--            <input type="text" class="form-control" name="yammer_account" placeholder="enter you Yammer account id" value="111111111111111111111111" readonly="readonly">-->
<!--        </div>-->
<!--        <span style="color:red;" id="">wrong number</span>-->
<!--    </div>-->

<!--    <div class="form-group row">-->
<!--        <label class="col-sm-3 col-form-label">Stackoverflow</label>-->
<!--        <div class="col-sm-6" style="display: inline-block;">-->
<!--            <input type="text" class="form-control" name="stackoverflow_account" placeholder="enter you Stackoverflow account id" value="11111111111111111111" readonly="readonly">-->
<!--        </div>-->
<!--    </div>-->

    <button type="button" class="btn btn-primary" style="display: none;" id="account_save_button" onclick="save()">save</button>
    <button type="button" class="btn btn-light" style="display: none;" id="account_cancel" onclick="cancelEdit()">Cancel</button>


    <h3 style="margin-top: 70px;">Other settings</h3>
    <hr>
    <input type="checkbox" id="emailChoice_input"><span style="margin-left: 8px;">email when a new post comes</span>
</div>

<!--<div id="custom-overlay">-->
<!--    <div class="loading-spinner">-->
<!--        Loading (custom)...-->
<!--    </div>-->
<!--</div>-->

<div th:replace="common.html :: notifications"></div>
</body>
<script>
    $('.mynav_li').removeClass('active');
    $('#account_nav_li').addClass('active');
</script>
</html>