<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="shortcut icon" th:href="@{assets/img/logo.png}">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/custom.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script th:src="@{js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{js/jquery.session.js}"></script>
    <script type="text/javascript" th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.js}"></script>
    <script th:src="@{js/noticeAccount.js}"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script th:src="@{js/notification.js}"></script>
    <script th:src="@{js/report.js}"></script>
    <script th:src="@{js/report_admin.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var upn = /*[[${upn}]]*/ null;
        var username = /*[[${username}]]*/ null;
        var visit_total = /*[[${visit_total}]]*/ 0;
        var visit_today = /*[[${visit_today}]]*/ 0;
        /*]]>*/
    </script>
</head>
<body>
<div th:replace="navbar.html :: navbar"></div>

<div style="width: 12%;display: inline-block;margin-left: 1%;margin-top: 120px;vertical-align: top;">
    <div class="card bg-light mb-3">
        <div class="card-header hot_topics_title">Usage</div>
        <div class="card-body">
            <!--        <h5 class="card-title">Light card title</h5>-->
            <p class="card-text">number of users:<span id="userNum" style="margin-left: 15px;"></span></p>
            <p class="card-text">total visits:<span id="visits_total" style="margin-left: 15px;"></span></p>
            <p class="card-text">today visits:<span id="visits_today" style="margin-left: 15px;"></span></p>
        </div>
    </div>

    <div class="card bg-light mb-3" style="display: none;margin-top: 40px;">
        <div class="card-header hot_topics_title">
            Most Active Users
        </div>
        <ul class="list-group list-group-flush" id="active_users_ul">
            <!--        <li class="list-group-item">developing...</li>-->
        </ul>
    </div>
</div>

<div style="padding-bottom: 50px;width:68%;margin-left: 4%;padding-top: 140px;display: inline-block;vertical-align: top;">
    <h3>Statistics</h3>
    <hr>
<!--    <input type="number" style="margin-top:30px;width:20%;display: inline-block;" class="form-control" value="10" id="active_user_num_input"><span style="margin-left: 7px;">(the number of active users you want to see)</span>-->
<!--    <div id="active_user_chart" style="min-width: 310px; height: 380px; margin-top:18px;">-->
<!--        <span class="nodata_span" id="active_user_chart_nodata">No data</span>-->
<!--    </div>-->

    <select class="form-control" style="width:20%;margin-top: 30px;" id="rcount_interval_select">
        <option value="yesterday">yesterday</option>
        <option value="week">last week</option>
        <option value="month">last month</option>
    </select>
    <div id="reply_count_chart" style="min-width: 310px; height: 380px; margin-top:18px;">
        <div class="nodata_span" id="rcount_chart_nodata">No data</div>
    </div>

    <select class="form-control" style="width:20%;margin-top: 30px;" id="vcount_interval_select">
        <option value="yesterday">yesterday</option>
        <option value="week">last week</option>
        <option value="month">last month</option>
    </select>
    <div id="visit_count_chart" style="min-width: 310px; height: 380px; margin-top:18px;">
        <div class="nodata_span" id="vcount_chart_nodata">No data</div>
    </div>


    <h3 style="margin-top: 80px;">General Report</h3>
    <hr>
    <div th:replace="common.html :: user_score_chart"></div>

    <div th:replace="common.html :: topic_chart"></div>

    <div th:replace="common.html :: keyword_chart"></div>
</div>

<div th:replace="common.html :: notifications"></div>
</body>
<script>
    $('#account_nav_li').removeClass('active');
    $('.mynav_li').removeClass('active');
    $('#Report_nav_li').addClass('active');
</script>
</html>